.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/*===================
    1.COMMON CSS
 ==================== */

 body {
  /* font-family: 'Mulish', sans-serif !important; */
}

.h1 {
  font-size: 46px;
  font-weight: 900;
}

.btn-btn {
  color: white;
  border: none;
  padding: 15px 40px;
  background: #458FF6;
  border-radius: 50px;
  font-weight: bold;
}
.btn-btn:hover{
  opacity: 0.8;
}

.btn-btn-outline-primary {
  color: #458FF6;
  border: 1px solid #458FF6;
  padding: 15px 50px;
  background: none;
  border-radius: 50px;
  font-weight: bold;
}
.btn-btn-outline-primary:hover{
  background: #458FF6;
  color: white;
}

.arrow {
  width: 100px;
  height: 3px;
  background: black;
}


/* Second sec */

.second-section {
  /* background: url(../images/bg\ elementd.png); */
  background-repeat: no-repeat;
  background-position: left center;
}

.rounded-4 {
  border-radius: 20px;
}


/* fifth */

.fifth-container {
  background: #458FF6;
}

.pd {
  padding-right: 0% !important;
  padding-left: 8%;
}
.service-col:hover{
  background-color: rgba(192, 221, 255, 0.8) !important;
}
.about-container{
  background: url(https://i.ibb.co/Bg8SFrs/oh-planning-saint-john-medical-center-entrance-rendering-hero.jpg);
  height: 60vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.about-container-clone{
  height: 60vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}
.bg-skyblue{
  background: #9ecad6;
  /* background: #9ecad6; */
}