.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/*===================
    1.COMMON CSS
 ==================== */

.h1 {
  font-size: 46px;
  font-weight: 900;
}

.btn-btn {
  color: white;
  border: none;
  padding: 15px 40px;
  background: #458FF6;
  border-radius: 50px;
  font-weight: bold;
}
.btn-btn:hover{
  opacity: 0.8;
}

.btn-btn-outline-primary {
  color: #458FF6;
  border: 1px solid #458FF6;
  padding: 15px 50px;
  background: none;
  border-radius: 50px;
  font-weight: bold;
}
.btn-btn-outline-primary:hover{
  background: #458FF6;
  color: white;
}

.arrow {
  width: 100px;
  height: 3px;
  background: black;
}


/* Second sec */

.second-section {
  /* background: url(../images/bg\ elementd.png); */
  background-repeat: no-repeat;
  background-position: left center;
}

.rounded-4 {
  border-radius: 20px;
}


/* fifth */

.fifth-container {
  background: #458FF6;
}

.pd {
  padding-right: 0% !important;
  padding-left: 8%;
}
.service-col:hover{
  background-color: rgba(192, 221, 255, 0.8) !important;
}
.about-container{
  background: url(https://i.ibb.co/Bg8SFrs/oh-planning-saint-john-medical-center-entrance-rendering-hero.jpg);
  height: 60vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.about-container-clone{
  height: 60vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}
.bg-skyblue{
  background: #9ecad6;
  /* background: #9ecad6; */
}

/* Menubar Styling */
#menu-bar{
  background: #333;
  text-align: center;
}

#menu-bar .menu > li{
  display: inline-block;
}

.menu > li > a{
  padding: 10px 20px;
  display: block;
  text-transform: uppercase;
  color: #fff;
  font-size: 15px;
  font-weight:600;
  transition:all 0.5s ease 0s;
}

#menu-bar .menu > li > a:hover,
#menu-bar .menu > li > a.active{
  color:#fff;
  background:#1e90ff;
}

/* Main Content Styling */
#main-content{
  padding: 30px 0;
  min-height: 750px;
}

#main-content .post-container{
  background-color: #fff;
  padding: 25px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.13);
}

#main-content .post-content{
  border-bottom: 1px solid #d1d1d1;
  padding: 0 0 30px;
  margin-bottom:30px;
}

#main-content .post-content img{
width: 100%;
}

#main-content .post-content .post-img{
border: 3px solid #e7e7e7;
display: block;
height: 145px;
overflow: hidden;
transition: border .3s;
}
#main-content .post-content .post-img:hover{
border: 3px solid #1e90ff;
}

#main-content .post-content h3{
  font-size: 21px;
  line-height: 28px;
  font-weight: 600;
  margin: 0 0 7px;

}
#main-content .post-content h3 a{
  color: #1e90ff;
  transition:all 0.3s;
}
#main-content .post-content h3 a:hover{
  color:#333;
}

#main-content .post-content .post-information span{
  color: #606060;
  font-size: 12px;
  text-transform: capitalize;
  margin: 0 5px 5px 0;
  display: inline-block;
}

#main-content .post-content .post-information i{
  color: #1e90ff;
  margin-right: 1px;
}

#main-content .post-content .post-information a{
  color: #606060;
  text-decoration: none;
}

#main-content .post-content .post-information a:hover{
  color: #333;
  text-decoration: none;
}

#main-content .post-content p,
#main-content .single-post p{
  color: #666;
  font-size: 14px;
  letter-spacing: 0.5px;
  margin:0 0 10px;
}

#main-content .post-content a.read-more{
  color: #fff;
  background-color: #1E90FF;
  font-size: 12px;
  text-transform: capitalize;
  padding: 3px 8px;
  border-radius: 2px;
  transition: all 0.3s;
}

#main-content .post-content a.read-more:hover{
  color: #fff;
  background-color: #333;
}

#main-content .single-post{
  border: none;
  margin-bottom: 0;
  padding-bottom: 0;
}

#main-content .single-post h3{
  color: #1e90ff;
}

#main-content .single-post .post-information{
  margin: 0 0 10px;
}
#main-content .single-post p{
  text-align: justify;
}

#main-content .single-post img.single-feature-image{
  width: 70%;
  margin: 0 auto 20px;
  display: block;
  border: 3px solid #e7e7e7;
}

/* Pagination  Styling */
.pagination {
  display: block;
  text-align: center;
  margin: 0;
}

.pagination li {
  display:inline-block;
  margin: 0 5px 0 0;
}

.pagination li a{
  border: none;
  background: #1e90ff;
  color: #fff;
}

.pagination li a:hover,
.pagination > li > a:focus{
  color:#fff;
  background:#333;
}

.page_links {
  background-color: #ccc;
  font-family: arial, verdana;
  font-size: 12px;
  text-decoration: none;
  border:1px solid #000;
  padding: 6px;
  margin: 3px;
}

#page_a_link{
  font-size: 12px;
  border:1px #000000 solid;
  color:#000;
  background-color: #cccccc;
  padding: 6px;
  margin: 3px;
  text-decoration: none;
}

i.fa{
  color:#222;
}

/* blog Sidebar Styling */
#sidebar h4{
  color: #1A1A1A;
  font-size: 17px;
  line-height: 27px;
  font-weight:600;
  text-transform: uppercase;
  padding: 0 0 0 5px;
  margin: 0 0 21px;
  border-left: 3px solid #1e90ff;
}

#sidebar .search-box-container{
  background-color: #fff;
  padding: 20px;
  margin: 0 0 30px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.13);
}

#sidebar .search-post{
  padding: 0;
}
#sidebar .search-post input{
  color: #606060;
}
#sidebar .search-post input:focus{
  box-shadow: none;
  border-color: #999;
}

#sidebar .search-post .btn{
  font-weight: 600;
  text-transform: uppercase;
  padding: 6px 8px;
  background-color: #1E90FF;
  border-color: #1E90FF;
  outline: none;
}

#sidebar .search-post .btn:hover,
#sidebar .search-post .btn:focus{
  text-shadow: 0 0 3px #333;
}

#sidebar .search-post i.fa{
  font-size: 16px;
  color: #999999;
  line-height: 40px;
  float:right;
}

#sidebar .recent-post-container{
  padding: 20px;
  background: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.13);
}

#sidebar .recent-post{
  border-bottom: 1px solid #e7e7e7;
  padding: 0 0 15px;
  margin: 0 0 15px;
}

#sidebar .recent-post:last-child{
  margin: 0;
  padding: 0;
  border: none;
}

#sidebar .recent-post .post-img{
display: inline-block;
width: 33%;
border: 3px solid rgba(0,0,0,0.3);
vertical-align: top;
transition: border .3s;
}

#sidebar .recent-post .post-img:hover{
border: 3px solid #1e90ff;
}

#sidebar .recent-post .post-img img{
  width: 100%;
}

#sidebar .recent-post .post-content{
  width: 65%;
  display: inline-block;
  border: none;
  padding: 0 0 0 7px;
  margin: 0;
}

#sidebar .recent-post h5{
  font-size: 14px;
  line-height: 20px;
  margin: 0 0 5px;
}
#sidebar .recent-post h5 a{
  color: #1E90FF;
}

#sidebar .recent-post span{
  color: #666;
  font-size: 11px;
  display: inline-block;
  margin: 0 5px 10px 0;
}

#sidebar .recent-post span a{
  color: #666;
}
#sidebar .recent-post span i{
  color: #1E90FF;
}

#sidebar .recent-post a.read-more{
  color: #666;
  background-color: rgba(0,0,0,0.09);
  width: 65px;
  font-size: 11px;
  text-align: center;
  padding: 0;
  display: block;
  transition: all 0.3s;
}

#sidebar .recent-post a.read-more:hover{
  box-shadow: 0 0 5px rgba(0,0,0,0.3);
}

/* ourservice */
.ourservice-article{
  background-color: #3f4a4a17;
}
.ourservice-article:hover{
  background-color: #7fa6ff70;
}